{% extends "base.html" %}
{% block title %}Login|MovieCore{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
  <div class="card shadow-sm p-4" style="min-width: 300px; max-width: 400px;">
    <h3 class="mb-4 text-center">🔐 Login to the system</h3>
    <form method="post" novalidate>
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <div class="text-danger small">{{ field.errors|striptags }}</div>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
  </div>
</div>
  <div class="mt-4 text-center">
  <a href="{% url 'catalog:register_director' %}" class="btn btn-outline-secondary">
    Don't have an account yet? Register as a director
  </a>
</div>
{% endblock %}
