{% extends "base.html" %}
{% block title %}Actors list|MovieCore{% endblock %}

{% block content %}
<h2>Actors list</h2>

    {% if actor_list %}
    <table class="table table-bordered table-sm">
      <thead class="table-dark">
      <tr>
        <th>First name</th>
        <th>Last Name</th>
        <th>Count</th>
      </tr>
      </thead>
    {% for actor in actor_list %}
      <tr>
        <td>{{ actor.first_name }}</td>
        <td>{{ actor.last_name }}</td>
        <td>{{ actor.movie_count }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>No actors</p>
    {% endif %}

{#{% include "includes/pagination.html" %}#}
{% endblock %}
