{% extends "base.html" %}
{% block title %}Directors list|MovieCore{% endblock %}

{% block content %}

<h2 class="mb-4">Director list</h2>

  {% if director_list %}
    <table class="table table-bordered table-sm">
      <thead class="table-dark">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Username</th>
        <th>License card number</th>
        <th>Movie</th>
      </tr>
      </thead>

    {% for director in director_list %}
      <tr>
        <td>{{ director.first_name }}</td>
        <td>{{ director.last_name }}</td>
        <td>{{ director.username }} {% if user == director %} (Me){% endif %}</td>
        <td>{{ director.license_card }}</td>
        <td>{{ director.movie_count }}</td>
      </tr>
    {% endfor %}

    </table>
  {% else %}
    <p>No directors</p>
  {% endif %}

{#{% include "includes/pagination.html" %}#}
{% endblock %}
