{% extends "base.html" %}
{% block title %}🎬Home — MovieCore{% endblock %}
{% block content %}
  <div class="text-center mb-5">
    <h1 class="display-4 fw-bold">🎬 MovieCore</h1>
    <p class="lead">Catalog of the best films. Explore. Rate. Marvel.</p>
  </div>

  <hr class="my-5">
  <div class="card-footer d-flex justify-content-between align-items-center">
    <ul>
      <li><strong>Actors:</strong> {{ num_actors }}</li>
      <li><strong>Director:</strong> {{ num_directors }}</li>
      <li><strong>Movie:</strong> {{ num_movies }}</li>
      <li><strong>Genre:</strong> {{ num_genres }}</li>
    </ul>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in top_movies %}
    <div class="col">
      <div class="card h-100 shadow-sm">

        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.description|truncatewords:20 }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <small class="text-muted">⭐ {{ movie.rating }} IMDb</small>
          <a href="{% url 'catalog:movie_list' %}" class="btn btn-dark">Детальніше</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

<hr class="my-5">

<h2 class="mb-4">🔥 TOP -3 Movies</h2>
<table class="table table-bordered table-sm">
  <thead class="table-dark">
    <tr>
      <th>Назва</th>
      <th>Рейтинг</th>
      <th>Режисер</th>
      <th>Дата виходу</th>
    </tr>
  </thead>
  <tbody>
    {% for movie in top_movies %}
    <tr>
      <td>{{ movie.title }}</td>
      <td>⭐️ {{ movie.rating }} IMDb</td>
      <td>{{ movie.director.first_name }} {{ movie.director.last_name }}</td>
      <td>{{ movie.release_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr class="my-5">
  <p class="text-center">You have visited this page: {{ num_visits }} time{{ num_visits|pluralize }}.</p>

{% endblock %}
