{% extends "base.html" %}
{% block title %}Movie list|MovieCore{% endblock %}

{% block content %}
<h2>Movie list</h2>


    {% if movie_list %}
    <table class="table table-bordered table-sm">
      <thead class="table-dark">

        <tr>
          <th>Title</th>
          <th>Release date</th>
          <th>Rating</th>
          <th>Director</th>
        </tr>
      </thead>

    {% for movie in movie_list %}
      <tr>
        <td>{{ movie.title }}</td>
        <td>{{ movie.release_date }}</td>
        <td>{{ movie.rating }}</td>
        <td>
          {% for director in movie.directors.all %}
{#            <a href="{% url 'director_detail' pk=director.pk %}">#}
            {{ director.first_name }} {{ director.last_name }}
            </a>{% if not forloop.last %}, {% endif %}
            {% empty %}
            No data
          {% endfor %}
        </td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>No movies</p>
    {% endif %}

{#{% include "includes/pagination.html" %}#}
{% endblock %}
