{% extends "base.html" %}
{% block title %}Movie list|MovieCore{% endblock %}

{% block content %}
<h2>Movie list</h2>


    {% if movie_list %}
    <table class="table table-bordered table-sm">
      <thead class="table-dark">

        <tr>
          <th>Title</th>
          <th>Release date</th>
          <th>Rating</th>
        </tr>
      </thead>

    {% for movie in movie_list %}
      <tr>
      <td><a href="{% url 'catalog:movie_detail' movie.pk %}">
      {{ movie.title }}
      </a>
      </td>
        <td>{{ movie.release_date }}</td>
        <td>{{ movie.rating }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>No movies</p>
    {% endif %}

{% include "includes/pagination.html" %}
{% endblock %}
