{% extends "base.html" %}
{% block title %}🎬Movie list — MovieCore{% endblock %}

{% block content %}
<h2>Movie list</h2>


    {% if movie_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Release date</th>
        <th>Rating</th>
        <th>Director</th>
      </tr>
    {% for movie in movie_list %}
      <tr>
        <td>{{ movie.id }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.release_date }}</td>
        <td>{{ movie.rating }}</td>
        <td>{{ movie.director }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>No movie</p>
    {% endif %}

{#{% include "includes/pagination.html" %}#}
{% endblock %}
